In [2]:
import pandas as pd
import opendatasets as od
import matplotlib.pylab as plt
import numpy as np

In [3]:
od.download("https://www.kaggle.com/datasets/sankha1998/student-semester-result")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  cm5i37shoeb

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/sankha1998/student-semester-result
Downloading student-semester-result.zip to .\student-semester-result

100%|████████████████████████████████████████████████████████████| 2.41k/2.41k [00:00<00:00, 709kB/s]

In [4]:
df=pd.read_csv("student-semester-result/data.csv")

In [5]:
print(df)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code
0              16
1              16
2              16
3              16
4              16
..            ...
173            28
174            28
175            28
176            28
177            28

[178 rows x 10 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB

In [7]:
df.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [8]:
avg1_marks=df["1st"].astype("float64").mean(axis=0)
avg2_marks=df["2nd"].astype("float64").mean(axis=0)
avg3_marks=df["3rd"].astype("float64").mean(axis=0)
avg4_marks=df["4th"].astype("float64").mean(axis=0)
avg5_marks=df["5th"].astype("float64").mean(axis=0)

In [9]:
print("avg of 1st marks",avg1_marks)
print("avg of 2nd marks",avg2_marks)
print("avg of 3rd marks",avg3_marks)
print("avg of 4th marks",avg4_marks)
print("avg of 5th marks",avg5_marks)

avg of 1st marks 7.038863636363637
avg of 2nd marks 6.943390804597701
avg of 3rd marks 6.6225
avg of 4th marks 7.027745664739886
avg of 5th marks 7.432558139534884

In [10]:
df["1st"].replace(np.nan,avg1_marks,inplace=True)
df["2nd"].replace(np.nan,avg2_marks,inplace=True)
df["3rd"].replace(np.nan,avg3_marks,inplace=True)
df["4th"].replace(np.nan,avg4_marks,inplace=True)
df["5th"].replace(np.nan,avg5_marks,inplace=True)

C:\Users\shoai\AppData\Local\Temp\ipykernel_13192\209068612.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["1st"].replace(np.nan,avg1_marks,inplace=True)
C:\Users\shoai\AppData\Local\Temp\ipykernel_13192\209068612.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["2nd"].replace(np.nan,avg2_marks,inplace=True)
C:\Users\shoai\AppData\Local\Temp\ipykernel_13192\209068612.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["3rd"].replace(np.nan,avg3_marks,inplace=True)
C:\Users\shoai\AppData\Local\Temp\ipykernel_13192\209068612.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["4th"].replace(np.nan,avg4_marks,inplace=True)
C:\Users\shoai\AppData\Local\Temp\ipykernel_13192\209068612.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["5th"].replace(np.nan,avg5_marks,inplace=True)

In [11]:
df.isnull().sum()

1st               0
2nd               0
3rd               0
4th               0
5th               0
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [12]:
max_1st=df['1st'].max()
max_2nd=df['2nd'].max()
max_3rd=df['3rd'].max()
max_4th=df['4th'].max()
max_5th=df['5th'].max()

In [13]:
print(max_1st,max_2nd,max_3rd,max_4th,max_5th)

9.15 9.21 9.59 9.31 9.46

In [14]:
cgpa_col=['1st','2nd','3rd','4th','5th']
max_values=[max_1st,max_2nd,max_3rd,max_4th,max_5th]

In [15]:
for col,max_value in zip(cgpa_col,max_values):
    df[col +'_Percentage']=(df[col]/max_value)*100

In [16]:
print(df)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code  1st_Percentage  2nd_Percentage  3rd_Percentage  \
0              16       88.633880       83.387622       74.139729
1              16       70.819672       64.060803       43.274244
2              16       91.912568       89.467970       78.415016
3              16       80.109290       74.158523       66.006257
4              16       86.229508       79.695983       75.286757
..            ...             ...             ...             ...
173            28       81.748634       81.976113       79.979145
174            28       79.781421       69.598263       68.717414
175            28       68.852459       68.186754       61.418144
176            28       76.939891       77.090119       71.011470
177            28       73.224044       73.941368       67.987487

     4th_Percentage  5th_Percentage
0         79.806660       86.469345
1         46.079484       52.431290
2         88.614393       81.923890
3         72.932331       72.832981
4         78.625134       78.858351
..              ...             ...
173       79.377014       91.437632
174       76.369495       78.012685
175       61.331901       68.710359
176       75.187970       73.150106
177       57.894737       73.995772

[178 rows x 15 columns]